### Q.1  Explain the key features of Python that make it a popular choice for programming ?

Ans 1:- **Key Features of Python**:-

Python is a popular and versatile programming language due to the following key features:

1.  Simple Syntax:-

Python's syntax is clean and easy to read, making it beginner-friendly.

In [3]:
# Simple variable assignment
name = "Mohan"
print("Anand " + name)

Anand Mohan

The language's simplicity allows developers to focus more on solving problems than dealing with complex syntax.

2.  Interpreted Language:-

Python is an interpreted language, meaning code is executed line by line. This makes it easier to debug and allows for platform independence.

In [4]:
# Python code can run on any platform without modification
print("This works on Windows, macOS, and Linux.")

This works on Windows, macOS, and Linux.

3.  Large Standard Library:-

Python comes with a rich standard library that supports many tasks, including file handling, web programming, data analysis, and more.

In [5]:
import math
print(math.sqrt(16))

4.0

4.  Object-Oriented and Functional:-

Python supports multiple programming paradigms. It can be used for object-oriented programming (OOP) as well as functional programming.

In [9]:
class Person:
    def __init__(self, name):
        self.name = name

    def greet(self):
        print("Radhe Radhe " + self.name)

person = Person("Shree Krishn")
person.greet()

Radhe Radhe Shree Krishn

### Question 2.

Describe the role of predefined keywords in Python and provide examples of how they are used in a program

Answer  2.
Role of Predefined Keywords in Python:-

Predefined keywords are reserved words in Python that have special meaning in the language. These cannot be used as variable names or identifiers.

Examples of common Python keywords include:

1.  if: Used for conditional statements.
2.  def: Used to define functions.
3.  else: Used for alternative conditions.
4.  for: Used for loops.
5.  return: Used to return a value from a function

In [12]:
# Defining a function using 'def'
def greet(name):
    if name:
        print("Radhe Radhe, " + name)
    else:
        print("Radhe, Shyam")

greet("Shree Radhe")

Radhe Radhe, Shree Radhe

In this code:-

1.  def defines a function.
2.  if checks the condition.
3.  else is used for alternative logic.

### Question 3:-
Compare and contrast mutable and immutable objects in Python with examples.

Answer 3. Mutable vs Immutable Objects in Python:-

Python distinguishes between mutable and immutable objects.
Understanding this distinction is important for managing memory and object behavior.

Mutable Objects:
These objects can be changed after creation.
Common examples: lists, dictionaries, sets.

In [16]:
# Mutable object: List
my_list = [1, 2, 3]
print(my_list)
my_list[0] = 4  # Modifying the list at 0th Index
print(my_list)  # Output: [4, 2, 3]

[1, 2, 3]
[4, 2, 3]

Immutable Objects:
These objects cannot be changed after creation.
Common examples: strings, tuples, integers.

In [18]:
# Immutable object: String
my_string = "Hello"
print(my_string)

my_string[0] = "h"  # This will cause an error as strings are immutable
print(my_string)

Hello

TypeError: 'str' object does not support item assignment

Key Difference:-

 Mutable objects can be altered in place, while immutable objects create new instances when modified.

### Question 4:-

Discuss the different types of operators in Python and provide examples of how they are used ?

1.  Arithmetic Operators:-

These operators are used to perform mathematical operations.

In [19]:
# Example 1
# Arithmetic Operators

a = 10
b = 3

# Addition
addition = a + b
print(f"{a} + {b} = {addition}")

# Subtraction
subtraction = a - b
print(f"{a} - {b} = {subtraction}")

# Multiplication
multiplication = a * b
print(f"{a} * {b} = {multiplication}")

# Division (float)
division = a / b
print(f"{a} / {b} = {division}")

# Floor Division
floor_division = a // b
print(f"{a} // {b} = {floor_division}")

# Modulus (remainder)
modulus = a % b
print(f"{a} % {b} = {modulus}")

# Exponentiation
exponentiation = a ** b
print(f"{a} ** {b} = {exponentiation}")

10 + 3 = 13
10 - 3 = 7
10 * 3 = 30
10 / 3 = 3.3333333333333335
10 // 3 = 3
10 % 3 = 1
10 ** 3 = 1000

2. Comparison Operators:-

Comparison operators are used to compare two values and return a boolean result (True or False).

In [20]:
# Comparison Operators Example 2

a = 5
b = 3

# Equal to
print(f"{a} == {b}: {a == b}")  # Output: False

# Not equal to
print(f"{a} != {b}: {a != b}")  # Output: True

# Greater than
print(f"{a} > {b}: {a > b}")    # Output: True

# Less than
print(f"{a} < {b}: {a < b}")    # Output: False

# Greater than or equal to
print(f"{a} >= {b}: {a >= b}")  # Output: True

# Less than or equal to
print(f"{a} <= {b}: {a <= b}")  # Output: False

5 == 3: False
5 != 3: True
5 > 3: True
5 < 3: False
5 >= 3: True
5 <= 3: False

3. Logical Operators:-

Logical operators are used to combine multiple conditional expressions and return a boolean result.

In [21]:
# Logical Operators Example 3

a = True
b = False

# AND operator
print(f"a and b: {a and b}")  # Output: False

# OR operator
print(f"a or b: {a or b}")   # Output: True

# NOT operator
print(f"not a: {not a}")     # Output: False

a and b: False
a or b: True
not a: False

4. Bitwise Operators:-

Bitwise operators operate on the binary representations of numbers.

In [24]:
# Bitwise Operators Example

a = 5  # In binary: 101
b = 3  # In binary: 011

# Bitwise AND
print(f"{a} & {b}: {a & b}")  # Output: 1 (binary: 001)

# Bitwise OR
print(f"{a} | {b}: {a | b}")  # Output: 7 (binary: 111)

# Bitwise XOR
print(f"{a} ^ {b}: {a ^ b}")  # Output: 6 (binary: 110)

# Bitwise NOT
print(f"~{a}: {~a}")          # Output: -6 (binary: 101 -> ~101 = -110)

# Left Shift
print(f"{a} << 1: {a << 1}")  # Output: 10 (binary: 101 << 1 = 1010)

# Right Shift
print(f"{a} >> 1: {a >> 1}")  # Output: 2 (binary: 101 >> 1 = 10)

5 & 3: 1
5 | 3: 7
5 ^ 3: 6
~5: -6
5 << 1: 10
5 >> 1: 2

5. Assignment Operators:-

Assignment operators are used to assign values to variables in different ways.

In [26]:
# Assignment Operators Example

a = 10
b = 5

# Add and assign
a += b
# a = a + b
print(f"a += b: {a}")
 # Output: 15

# Subtract and assign
a -= b
# a = a - b
print(f"a -= b: {a}")
# Output: 10

# Multiply and assign
a *= b
# a = a * b
print(f"a *= b: {a}")
# Output: 50

# Divide and assign
a /= b
# a = a / b
print(f"a /= b: {a}")
# Output: 10.0

# Floor divide and assign
a //= b
# a = a // b
print(f"a //= b: {a}")
# Output: 2

# Modulus and assign
a %= b
# a = a % b
print(f"a %= b: {a}")
# Output: 2

# Exponentiate and assign
a **= b
# a = a ** b
print(f"a **= b: {a}")
# Output: 32

a += b: 15
a -= b: 10
a *= b: 50
a /= b: 10.0
a //= b: 2.0
a %= b: 2.0
a **= b: 32.0

6. Membership Operators:-

Membership operators check if a value is found in a sequence (list, string, tuple, etc.).

In [27]:
# Membership Operators Example

my_list = [1, 2, 3, 4, 5]

# Using 'in'
print(f"3 in my_list: {3 in my_list}")  # Output: True
print(f"6 in my_list: {6 in my_list}")  # Output: False

# Using 'not in'
print(f"6 not in my_list: {6 not in my_list}")  # Output: True

3 in my_list: True
6 in my_list: False
6 not in my_list: True

7. Identity Operators:-

These operators are used to compare the memory locations of two objects.

In [28]:
a = [1, 2, 3]
b = a
c = [1, 2, 3]
print(a is b)  # Output: True (both refer to the same object)
print(a is c)  # Output: False (different objects in memory)

True
False

8. Ternary (Conditional) Operator:-

Python supports a compact way to perform conditional operations using the ternary operator.

In [29]:
x = 5
y = 10
result = x if x < y else y
print(result)  # Output: 5

5

### Question 5:-  
Explain the concept of type casting in Python with examples.

Concept of Type Casting in Python:-

Type casting (or type conversion) in Python refers to the process of converting one data type into another. Python provides two types of type casting:

Implicit Type Casting (Automatic Conversion):-

 This happens automatically when Python converts one data type to another without any explicit request. It usually occurs when the conversion doesn't result in loss of data.

Explicit Type Casting (Manual Conversion):-

This is done using built-in functions where the programmer explicitly converts one data type to another.

Implicit casting is automatically handled by Python when the type conversion is safe. For example, if you try to add an integer and a float, Python will automatically convert the integer to a float and perform the operation.

In [32]:
# Implicit Type Casting (Automatic Conversion)

a = 5         # Integer
b = 2.5       # Float

# The integer 'a' is implicitly converted to float before the addition.
result = a + b
print(f"The result of {a} + {b} is: {result}")  # Output: 7.5

# In this example:
# The integer 5 is automatically converted to a float,
# and the result is a float (7.5).

The result of 5 + 2.5 is: 7.5

2.   Explicit Type Casting (Manual Conversion):-

Explicit type casting is when the programmer manually converts a variable from one type to another. Python provides built-in functions for this purpose, such as int(), float(), str(), and list().


Common Functions for Type Casting:-

int(): Converts a value to an integer.
float(): Converts a value to a floating-point number.
str(): Converts a value to a string.
list(): Converts a value to a list.

In [33]:
# Explicit Type Casting (Manual Conversion)

# Convert a float to an integer (will truncate the decimal part)
a = 5.7
a_int = int(a)
print(f"Float {a} converted to integer: {a_int}")  # Output: 5

# Convert an integer to a string
b = 10
b_str = str(b)
print(f"Integer {b} converted to string: '{b_str}'")  # Output: '10'

# Convert an integer to a float
c = 7
c_float = float(c)
print(f"Integer {c} converted to float: {c_float}")  # Output: 7.0

Float 5.7 converted to integer: 5
Integer 10 converted to string: '10'
Integer 7 converted to float: 7.0

Type Casting Between Different Data Types

Example of Converting a String to Integer:

In [34]:
# Convert a string to an integer
str_num = "25"
num = int(str_num)
print(f"String '{str_num}' converted to integer: {num}")

String '25' converted to integer: 25

In [35]:
# Convert an integer to a string
num = 100
str_num = str(num)  # Explicit conversion from integer to string
print(f"Integer {num} converted to string: '{str_num}'")  # Output: '100'

Integer 100 converted to string: '100'

Error in Type Casting
If you try to cast a value to a type that is incompatible,

Python will raise a ```
ValueError
```

In [36]:
# Trying to convert a non-numeric string to an integer
str_value = "Hello"
try:
    num = int(str_value)  # This will raise an error
except ValueError as e:
    print(f"Error: {e}")

Error: invalid literal for int() with base 10: 'Hello'

### Question 6:-  
How do conditional statements work in Python? Illustrate with examples

Conditional statements in Python allow the program to execute certain blocks of code based on whether a condition is True or False. This is how we control the flow of execution in a program based on certain conditions.

Python has the following types of conditional statements:

* if statement:

It tests a condition and executes a block of code if the condition is True.

* if-else statement:

It tests a condition and executes one block of code if the condition is True, and another block if the condition is False.

* if-elif-else statement:

It checks multiple conditions and executes the corresponding block of code for the first condition that evaluates to True. If no condition is True, it executes the else block.

In [37]:
# Using if statement
age = 18

if age >= 18:
    print("You are eligible to vote.")
    # This will print because the condition is True

You are eligible to vote.

In [38]:
# Using if-else statement
age = 16

if age >= 18:
    print("You are eligible to vote.")
else:
    print("You are not eligible to vote.")
    # This will print because the condition is False

You are not eligible to vote.

In [39]:
# Using if-elif-else statement
marks = 85

if marks >= 90:
    print("Grade: A")
elif marks >= 75:
    print("Grade: B")
     # This will print because the condition is True
elif marks >= 50:
    print("Grade: C")
else:
    print("Grade: D")

Grade: B

In [40]:
# Nested if statement
age = 20
is_student = True

if age >= 18:
    if is_student:
        print("Eligible for student discount.")
         # This will print because both conditions are True
    else:
        print("Not eligible for student discount.")
else:
    print("Not eligible for any discount.")

Eligible for student discount.

In [41]:
# Ternary operator (conditional expression)
age = 21
status = "Eligible to vote" if age >= 18 else "Not eligible to vote"
print(status)  # Output: Eligible to vote

Eligible to vote

### Question 7:-

 Describe the different types of loops in Python and their use cases with examples.

Loops in Python:- Loops in Python are used to repeatedly execute a block of code as long as a condition is met.

Python provides two main types of loops:-

1.  for loop: Used to iterate over a sequence (like a list, tuple, string, or range).

2.  while loop: Repeats a block of code as long as a specified condition is True.

The for loop is used when you want to iterate over a sequence (e.g., a list, tuple, string) or a range of numbers. It is ideal for situations where the number of iterations is known or you need to iterate through all items in a collection.

Use Case:-

 Iterating over elements in a collection (list, tuple, string, etc.) or a range of numbers.

In [42]:
# Using for loop to iterate over a list
fruits = ["apple", "banana", "cherry"]

for fruit in fruits:
    print(fruit)

apple
banana
cherry

The for loop iterates over each element in the list fruits and prints it.

In [43]:
# Using for loop with range() to repeat an action a specified number of times
for i in range(5):  # Will iterate 5 times, with i taking values 0 to 4
    print(i)

0
1
2
3
4

```
range(5)
```
generates numbers from 0 to 4, and the for loop iterates through these numbers.

 while Loop:-

The while loop repeatedly executes a block of code as long as the specified condition evaluates to True. It is useful when the number of iterations is not predetermined and the loop should continue as long as the condition holds.

Use Case:-

 When you donâ€™t know the number of iterations in advance, but you need to repeat an action until a condition is met.

In [44]:
# Using while loop to print numbers from 1 to 5
count = 1
while count <= 5:
    print(count)
    count += 1  # Increment count to avoid infinite loop

1
2
3
4
5

The loop continues executing as long as count is less than or equal to 5. The count is incremented by 1 on each iteration, ensuring that the loop eventually stops.

In [45]:
# Example with a condition to break the loop:
# Using while loop to ask for user input until they enter "exit"
while True:
    user_input = input("Enter something (or 'exit' to stop): ")
    if user_input == "exit":
        print("Exiting the loop.")
        break  # Exit the loop when "exit" is entered
    else:
        print(f"You entered: {user_input}")

Enter something (or 'exit' to stop): Anand
You entered: Anand
Enter something (or 'exit' to stop): exit
Exiting the loop.

The loop will continue to run indefinitely until the user types "exit", at which point the break statement is executed, ending the loop.

Nested Loops
You can also use loops inside other loops, which are known as nested loops. Nested loops are used when you need to perform repetitive tasks within another repetitive task.

In [46]:
# Nested for loop to print a multiplication table
for i in range(1, 4):
    for j in range(1, 4):
        print(f"{i} * {j} = {i * j}")

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9

Loop Control Statements

Python also provides loop control statements that allow you to control the flow of loops:

break:

Exits the loop prematurely, even if the loop condition is still True.

continue:

Skips the current iteration and continues with the next iteration.
pass: Does nothing and is used as a placeholder.

In [47]:
# Using break and continue in a loop
for i in range(1, 10):
    if i == 5:
        break  # Exit the loop when i is 5
    elif i == 3:
        continue  # Skip the iteration when i is 3
    print(i)

1
2
4